<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assessment.css">
    <title>Assessment Results</title>
    <style>
        
    </style>
</head>
<body>
    <div class="container">
        <h1>Assessment Results</h1>
        <% if (assessments.length > 0) { %>
            <% assessments.forEach(function(assessment) { %>
                <div class="assessment">
                    <div class="progress">
                        <div class="progress-bar progress-bar-right"></div>
                        <div class="progress-bar progress-bar-left" style="animation-delay: 1s; animation-duration: <%= Math.max(1, (assessment.Score / assessment.TotalQuestions) * 1) %>s;"></div>
                        <div class="progress-value"><%= Math.round((assessment.Score / assessment.TotalQuestions) * 100) %>%</div>
                    </div>
                    <p>Topic Name: <%= assessment.TopicName %></p>
                    <p>Question Type: <%= assessment.QuestionType %></p>
                    <p>Score: <%= assessment.Score %> out of <%= assessment.TotalQuestions %></p>
                    <p>Date Taken: <%= new Date(assessment.CreatedAt).toLocaleString() %></p>
                </div>
            <% }); %>
        <% } else { %>
            <p>No assessments found.</p>
        <% } %>
        <a href="/homepage">Back to Dashboard</a>
    </div>
</body>
</html>
